.gaga{
    margin-top:180px;
    margin-left:600px;
    color: #187805;
  font-family: 'Rubik Mono One', sans-serif;


}

.od{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;
  color:#ff0400;
	margin-top:50px;
	  margin-left:600px;
}

.sf{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;
	color:#b7ff00 ;
	margin-top:20px;
	  margin-left:600px;
}

.siega{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;
	color:#0331ff;
	margin-top:20px;
	  margin-left:600px;
}

a{
	color:black;
}




body{
	background-color:#5b0461;
}
h1{
	margin-bottom:80px;
	margin-left:20px;
	color:#00f7ff;
}

img{
	margin-left:20px;
}

